language: java

jdk:
  - openjdk8
  # https://github.com/travis-ci/travis-ci/issues/7884
  #- oraclejdk7
  - oraclejdk9
  # oracle jdk 10 is deprecated
  #- oraclejdk10
  - oraclejdk11
  - openjdk10
  - openjdk11
  - openjdk-ea

matrix:
  allow_failures:
    - jdk: openjdk-ea

script:
  - ./ant test
